@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
.raleway_font{
    font-family: "Raleway", sans-serif;
}
.inter_font{
    font-family: "Inter", sans-serif;
}

.button{
    background-color: #F7F8F8;
    padding: 17px 44px 17px 45px;

}
